
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main2.css') }}">
</head>


 


<nav class="navbar">
    <div class="container">
        <a href="/" class="logo">FarmSupport</a>
        <ul class="nav-links">
            <li><a href="/"><i class="icon-home"></i> Home</a></li>
            <li><a href="/chatbot"><i class="icon-message"></i> AI Chatbot</a></li>
            <li><a href="/plant-disease"><i class="icon-alert"></i> Disease Protection</a></li>
            <li><a href="/weather"><i class="icon-sun"></i> Weather</a></li>
            <li><a href="/feedback"><i class="icon-star"></i> Feedback</a></li>
        </ul>
    </div>
</nav>
